{
    "bootstrap": true,
    "server": true,
    "datacenter": "{{ datacentre }}",
    "data_dir": "/opt/consul/data",
    "encrypt": "{{ consul_encryption_key }}",
    "log_level": "INFO",
    "enable_syslog": true
}
